@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f6f7f8;
}

.dark {
  background: url(../images/noisy-texture-100x100-o3-d19-c-2b2b2bff-t0.png);
  color: #c4c4c4;
}

.darkmode-switch {
  margin: 0 auto 30px;
  width: 600px;
  text-align: right;
  display: flex;
  background: rgba(255, 255, 255, 0.7);
  justify-content: center;
  align-items: center;
  border-bottom: dashed 1px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 3;
}
.darkmode-switch span {
  text-transform: uppercase;
  font-weight: 500;
  line-height: 45px;
  display: inline-block;
  margin-right: 10px;
  font-size: 11px;
  opacity: 0.7;
}
.darkmode-switch a {
  display: block;
  text-decoration: none;
  font-size: 24px;
  color: #786666;
}
.darkmode-switch i {
  line-height: 45px;
}
.darkmode-switch .bold {
  font-weight: 700;
}
.darkmode-switch:hover {
  cursor: pointer;
}

header div {
  width: 600px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 80px;
}

.profile {
  position: absolute;
  background-image: url(../images/profile_small-min.png);
  background-size: cover;
  transform: translate(-40px, -50px);
  height: 200px;
  width: 200px;
}

.profile-glitch {
  background-image: url(../images/profile.gif);
  z-index: -1;
}

.profile-dark {
  background-image: url(../images/profilealt_small-min.png);
}

header div div {
  width: 50%;
  margin: 0;
}

header nav {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}

header nav a {
  margin: 0 15px;
  font-size: 14px;
  text-decoration: none;
  color: #786666;
}

header nav a:hover {
  text-decoration: underline;
}

.main-section {
  margin: 50px auto 0;
  width: 600px;
}
.main-section a {
  color: #786666;
}
.main-section h1 {
  padding: 10px 0 20px;
  text-align: center;
  font-size: 24px;
}
.main-section p {
  padding: 10px 0;
  font-size: 15px;
  color: #786666;
  line-height: 29px;
}
.main-section .projects {
  text-align: center;
  margin-top: 20px;
}
.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  padding: 0 20px;
  color: #fff;
  opacity: 0.9;
  width: 49%;
  min-height: 300px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
@media (max-width: 1200px) {
  .project {
    margin: 20px auto;
    width: 600px;
  }
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.first,
.second,
.third {
  background: #fff;
}

.project p {
  color: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  padding: 3px 0;
  line-height: 25px;
}

.img-link {
  display: flex;
  align-items: center;
  height: 195px;
  width: 40%;
}

.project-links a {
  text-decoration: none;
  color: #000;
  /* background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%); */
  padding: 9px 26px;
  display: inline-block;
  font-size: 16px;
  margin: 15px 0 20px;
  border-radius: 3px;
}

.dark .project-links a {
  color: #c4c4bf;
}

.project a:hover {
  opacity: 0.7;
}

.project:hover {
  opacity: 1;
}

.bn40 {
  border-radius: 4px;
  font-weight: 600;
  padding: 4px 6px;
}

.bn40::after {
  max-width: 100%;
  height: 2px;
  display: block;
  content: '';
  background: linear-gradient(-90deg, #ff9100 0%, #f10366 50%, #6173ff 100%);
  opacity: 1;
  margin-bottom: -6px;
  margin-top: 1px;
}

.project .img {
  width: 100%;
  object-fit: contain;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 3px;
}
.project .img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.project .description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  width: 70%;
  padding-left: 35px;
}

.project .description.left {
  padding-left: 5px;
}

.project .description h3 {
  color: #000;
  margin: 20px 0 12px;
}

.project .description .commercial {
  color: #c4c4bf;
  font-weight: 100;
  font-size: 12px;
}

.dark .description h3 {
  color: #c4c4bf;
}

.dark .description p {
  color: #786666;
}

.project .description span {
  font-weight: 600;
}

.dark .description span {
  color: #c4c4bf;
}

.dark .project {
  background: url(../images/noisy-texture-100x100-o3-d19-c-2b2b2bff-t0.png);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.projects-grid {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer {
  background-color: #fff;
  border-top: 1px solid rgba(120, 102, 102, 0.2);
  width: 100%;
  height: 250px;
}

footer div {
  margin: 20px auto 0;
  display: flex;
  justify-content: space-between;
  width: 600px;
}

footer div div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.social {
  align-items: flex-end;
}

.mail {
  align-items: flex-start;
}

.mail span {
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
  color: #786666;
}

.bn30 {
  border: 2px;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(
    -90deg,
    #ff9100 0%,
    #f10366 50%,
    #6173ff 100%
  );
  padding: 0.7em 2em;
  border-radius: 0px;
  /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); */
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: #000;
}

.dark .bn30 {
  color: #c4c4bf;
}

.bn30 .text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
}

.bn30:after {
  content: '';
  position: absolute;
  margin: 1px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #fff;
}

.dark .bn30:after {
  background: #2d2d2d;
}

.bn30:hover {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  /* box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1); */
}

.bn30:hover .text {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}

footer p {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
}

footer a {
  display: inline;
  text-decoration: none;
  color: #786666;
  font-size: 15px;
  font-weight: 300;
}

footer i {
  margin-right: 5px;
}

footer a:hover {
  text-decoration: underline;
}

form {
  width: 100%;
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 50px;
}

.form-control {
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  color: #786666;
  display: block;
  margin-bottom: 5px;
}
.form-control input,
textarea {
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control textarea {
  resize: none;
  height: 150px;
}

.form-control textarea.dark {
  border-color: #786666;
}

.form-control input.dark {
  border-color: #786666;
}

.form-control input:focus,
textarea:focus {
  outline: 0;
  border-color: #786666;
}

.form-control input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #f6f7f8 inset !important;
}

form button {
  color: #fff;
  border: none;
  border-radius: 2px;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%);
}

.form-message {
  position: fixed;
  z-index: 5;
  width: 100%;
  text-align: center;
  color: white;
  top: -50px;
  min-height: 50px;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  transition: 0.5s;
}

.form-message.error {
  background-color: rgb(194, 0, 0);
  top: 0px;
}

.form-message.success {
  background-color: rgb(28, 168, 0);
  top: 0px;
}
@media (max-width: 590px) {
  .project {
    width: 90%;
  }
  .project .description {
    width: 95%;
  }
}
@media (max-width: 450px) {
  .form-message {
    top: -100px;
  }
}
@media screen and (max-width: 650px) {
  .darkmode-switch {
    width: 100%;
  }
  header div {
    width: 90%;
    margin-bottom: 0;
  }

  .main-section {
    width: 90%;
  }
  .main-section h1 {
    margin-bottom: 50px;
  }
  /* .main-section a {
    text-decoration: none;
  } */
  a.img-link {
    display: none;
  }
  .project .description {
    padding-left: 0;
  }
  footer {
    height: auto;
  }
  footer div {
    width: 90%;
    padding: 25px;
    flex-direction: column;
    text-align: center;
  }
  footer div .social,
  footer div .mail {
    align-items: center;
  }
  .profile {
    transform: translate(-180px, -70px);
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 375px) {
  .project .description {
    width: 100%;
  }
  form {
    padding: 30px 20px;
  }
  .main-section .main-section__header {
    text-align: right;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #786666;
  border: 0px none #786666;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #504444;
}
::-webkit-scrollbar-thumb:active {
  background: #4a4a4a;
}
::-webkit-scrollbar-track {
  background: #fff;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #ffffff;
}
::-webkit-scrollbar-track:active {
  background: #ffffff;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
